body{
    font-family:  Arial, Helvetica, sans-serif;
    text-align: center;
}

input{
    width: 100%;
    background: whitesmoke;
    display: inline-block;

}
.container {
    margin: auto;
    width: 50%;


  }
.data{
    padding: 16px;
}